* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}
.parent::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  background-position: center;
  background-size: cover;
}
.container {
  width: 550px;
  height: 600px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  z-index: 20;
  background-color: #0a1768;
  backdrop-filter: blur(15px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
form {
  display: flex;
  flex-direction: column;
}
.input-text,
.input-text2,
.input-text3 {
  position: relative;
  border-bottom: 2px solid #fff;
  margin: 25px 0;
}
.input-text label,
.input-text2 label,
.input-text3 label {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-150%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}
.input-text input,
.input-text2 input,
.input-text3 input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}
.input-text input:focus ~ label,
.input-text input:valid ~ label,
.input-text2 input:focus ~ label,
.input-text2 input:valid ~ label,
.input-text3 input:focus ~ label,
.input-text3 input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}
.forget {
  display: flex;
  align-items: center;
  margin: 25px 0 30px 0;
  color: #fff
}

.forget label {
  display: flex;
  align-items: center;
}
.forget p {
  margin-left: 8px;
}
.container h2 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #fff;
}
.container a {
  color: #fff;
  text-decoration: none;
}
.container a:hover {
  text-decoration: underline;
  color: #fff;
}
button {
  background: #fff;
  color: #063bac;
  font-weight: 500;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 18px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
button:hover {
  color: #fff;
  background: #063bac;
  border-color: #fff;
}
